# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore
!/.replit

!*.go
!go.sum
!go.mod

# Project files
!client/client.go
!grpcapi/implant.proto
!grpcapi/implant_grpc.pb.go
!implant/implant.go
!server/server.go

!README.md

!Makefile

# ...even if they are in subdirectories
!*/
